
@{
    ViewData["Title"] = "buscarPaciente";
}


@if (ViewBag.SerchedPatient != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    ID
                </th>
                <th>
                    Edad
                </th>
                <th>
                    Contacto
                </th>
                <th>
                    Última cita
                </th>
                <th>
                    Próxima cita
                </th>
                <th>
                    Seguimiento
                </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>
                    @ViewBag.SerchedPatient.Name
                </td>
                <td>
                    @ViewBag.SerchedPatient.ID
                </td>
                <td>
                    @ViewBag.SerchedPatient.Age
                </td>
                <td>
                    @ViewBag.SerchedPatient.Phone
                </td>
                <td>
                    @ViewBag.SerchedPatient.LastDate
                </td>
                <td>
                    @{
                        Paciente item = ViewBag.SerchedPatient;
                        DateTime compare = new DateTime(2022, 03, 24, 12, 00, 00);
                        if (item.NextDate == default || item.NextDate == compare)
                        {
                            Write("Sin cita");
                        }
                        else
                        {
                            @ViewBag.SerchedPatient.NextDate
                        }
                    }
                </td>
                <td>
                    @ViewBag.SerchedPatient.Description
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <form asp-action="registrarCita">
        <input type="hidden" name="pacientID" value=@ViewBag.SerchedPatient.ID />
        <label id="nextDate">Ingrese la nueva cita</label>
        <input type="datetime-local" min="Today" id="nextDate" name="next" />
        <input type="submit" value="Añadir próxima cita" class="btn btn-info" />
    </form>
    
}
else
{
<h1 class="text-center">
    @ViewBag.SerchedPatientFalse
</h1>
}
<br />
<h3 class="text-center">
    <form asp-action="Index">
        <input type="submit" value="Regresar al inicio" class="btn btn-info" />
    </form>
</h3>
