@model IEnumerable<Salud_para_tu_sonrisa.Models.Paciente>

@{
    ViewData["Title"] = "mostrarPacientes";
}


<div class="text-center">
    <form asp-action="buscarPaciente">
        <label>Buscar paciente</label>
        <input type="text" name="search" />
        <input type="submit" value="Buscar" class="btn btn-info" /><br />
        <small>Nombre, ID</small>
    </form>
</div>
<h1>Pacientes de la clínica</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                ID
            </th>
            <th>
                Edad
            </th>
            <th>
                Contacto
            </th>
            <th>
                Última cita
            </th>
            <th>
                Próxima cita
            </th>
            <th>
                Seguimiento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewData["pacientes"] as List<Paciente>)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDate)
            </td>
            <td>
                @{ 
                    DateTime compare = new DateTime(2022, 03, 24, 12, 00, 00);
                    if (item.NextDate == default || item.NextDate == compare)
                    {
                        Write("Sin cita");
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.NextDate);
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
        </tr>
}
    </tbody>
</table>
