@model IEnumerable<Salud_para_tu_sonrisa.Models.Paciente>

@{
    ViewData["Title"] = "Seguimiento";
}
<div class="text-center">
    <h4>
        <form asp-action="Seguimiento">
            <label id="tipo">Buscar por tratamiento o diagnóstico</label><br />
            <select id="tipo" name="tipo" class="form-control">
                <option value=-1 class="text-muted">Seleccione un tratameinto</option>
                <option value=0>Limpieza dental</option>
                <option value=1>Ortodoncia</option>
                <option value=2>Caries</option>
                <option value=3>Específico</option>
            </select><br />
            <input type="submit" value="Buscar" class="btn btn-info" />
        </form>
    </h4>
</div>
<h1>@ViewBag.Follow</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                ID
            </th>
            <th>
                Edad
            </th>
            <th>
                Contancto
            </th>
            <th>
                Última cita
            </th>
            <th>
                Próxima cita
            </th>
            <th>
                Seguimiento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewData["seguimiento"] as List<Paciente>) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDate)
            </td>
            <td>
                @{
                    DateTime compare = new DateTime(2022, 03, 24, 12, 00, 00);
                    if (item.NextDate == default || item.NextDate == compare)
                    {
                        Write("Sin cita");
                    }
                    else
                    {
                    @Html.DisplayFor(modelItem => item.NextDate);
                }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <form asp-action="buscarPaciente">
                    <input type="hidden" name="search" value=@item.ID />
                    <input type="submit" value="Editar cita" class="btn btn-info" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
